@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

.form {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 80%;
  left: 15%;
  color: inherit;
  font-size: 1rem;
  background-color: rgb(44, 38, 38);
  color: white;
  font-weight: bold;
  width: 75%;
  text-align: center;
  align-items: center;
  padding: 15px;
  box-shadow: inset 0 0 10px rgb(228, 222, 222);
  border-radius: 5px;
}

.gender > label,
.gender > select,
.age > label,
.age > input,
.age2 > label,
.age2 > input,
.religion > label,
.religion > select,
.language > label,
.language > select {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.gender > select {
  width: 10rem;
}

.form > button {
  width: 7rem;
  padding: 10px;
  background-color: lightseagreen;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

.form > button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(17, 55, 56);
}

.signup-form {
  background-color: white;
  width: 25rem;
  height: 80vh;
  padding: 15px;
  position: absolute;
  top: 10%;
  right: 30%;
  z-index: 100;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.8);
}

.signup-form.active {
  display: none;
  transition: all 0.2s linear;
}

.signup-form > .fa-times {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-20px, 10px);
}

.signup-form > h2,
.signup-form > p {
  text-align: center;
  padding: 5px;
}

.input-feild {
  margin: 10px 0;
}

.input-feild > input {
  padding: 5px;
  width: 100%;
  font-size: 1rem;
}

.user-info {
  margin: 10px 0;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.user-info > select {
  padding: 10px;
}

.register-btn {
  background-color: lightseagreen;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .user-info {
    margin: 10px 0;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
  }
  .user-info > select,
  .user-info > input {
    padding: 10px;
    width: fit-content;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .form {
    align-items: center;
  }
  .gender > label,
  .gender > select,
  .age > label,
  .age > input,
  .age2 > label,
  .age2 > input,
  .religion > label,
  .religion > select,
  .language > label,
  .language > select {
    width: fit-content;
  }
  .form > button {
    width: fit-content;
  }
}

@media only screen and (max-width: 450px) {
  .form {
    position: absolute;
    top: 60%;
    left: 25%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    font-size: 1rem;
    align-items: center;
    width: fit-content;
  }
  .gender > label,
  .gender > select,
  .age > label,
  .age > input,
  .age2 > label,
  .age2 > input,
  .religion > label,
  .religion > select,
  .language > label,
  .language > select {
    width: fit-content;
    font-size: 1rem;
  }

  .signup-form {
    height: fit-content;
  }
  .form > button {
    width: fit-content;
    font-size: 1rem;
    position: relative;
    top: 7px;
  }

  .user-info {
    margin: 2px 0;
    padding: 5px;
    gap: 0.5rem;
  }

  .user-info > select,
  .user-info > input {
    padding: 3px;
    margin: 0;
    width: fit-content;
    font-size: 0.8rem;
    overflow-x: hidden;
  }
  .user-info .dob {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 450px) {
  .form {
    position: absolute;
    top: 70%;
    left: 25%;
  }
  .signup-form {
    position: absolute;
    top: 40%;
  }
}
