.signup-form {
  background-color: white;
  width: 25rem;
  height: 80vh;
  padding: 15px;
  position: absolute;
  top: 10%;
  right: 30%;
  z-index: 100;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.8);
}

.signup-form.active {
  display: none;
}

.signup-form > .fa-times {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-20px, 10px);
}

.signup-form > h2,
.signup-form > p {
  text-align: center;
  padding: 5px;
}

.input-feild {
  margin: 10px 0;
}

.input-feild > input {
  padding: 5px;
  width: 100%;
  font-size: 1rem;
}

.user-info {
  margin: 10px 0;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.user-info > select {
  padding: 10px;
}

.register-btn {
  background-color: lightseagreen;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  width: 100%;
}
